<link rel="stylesheet" href="~/css/logo.css" />

<div class="logo-container">
    <div class="logo-shape square"></div>
    <div class="logo-shape triangle"></div>
    <div class="logo-shape circle"></div>
</div>