<div id="enemy-shape"
     class="position-absolute"
     style="width:0;height:0;transform:rotate(180deg)!important;top:-8.5%!important;right:15%!important;
            border-top: 5rem solid transparent;border-left: 10rem solid red;border-bottom: 5rem solid transparent;">
</div>