<div id="selected-shape"
     class="position-absolute top-50 start-50 translate-middle"
     style="width:0;height:0;border-top: 5rem solid transparent;border-left: 10rem solid limegreen;border-bottom: 5rem solid transparent">
</div>