@using ShapeDungeon.DTOs.Rooms
@model RoomCreateDto

@{
    ViewBag.Title = "Create Room";
}


<div class="container" style="width:100vw;height:75vh">
    <div class="row text-center mt-4" style="height:10%">
        <h2>Create Room</h2>
    </div>
    <div class="row align-items-center" style="height:80%">
        <form asp-action="Create" method="post" class="col-sm-6">
            <partial name="_CreationForm" />
        </form>

        <partial name="_RoomView" for="Nav" />
    </div>
</div>

<script src=~/js/room/create.js></script>

@if (Model.Details.IsActiveForEdit)
{
    <script>
        disableCreationBtns();
    </script>
}