@using ShapeDungeon.DTOs
@model GameDto

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex gap-5" style="height:75vh">
        <div id="player-partial" style="width:100%;position:relative">
            <partial name="_Player" for="Player" />
        </div>
        <div id="room-with-nav-partial" style="width:100%;position:relative">
            <partial name="_RoomWithNav" for="Room" />
        </div>
    </div>
</div>

<partial name="_RoomStyle" for="Room">

<script src="~/js/room/move.js" type="module"></script>
