@using ShapeDungeon.DTOs
@using ShapeDungeon.Entities.Enums
@model PlayerDto

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Shape == PlayerShape.Square)
{
    <h1>@Model.Shape.ToString()</h1>
}

<div class="text-center">
    <div class="row align-middle">
        <table style="height:75vh">
            <tbody>
                <tr>
                    <td class="align-middle position-relative" style="width:50vw">
                        <div 
                            id="player"
                            class="position-absolute top-50 start-50 translate-middle"
                            style="height:50px;width:50px;background-color:limegreen"
                        >
                        </div>
                    </td>
                    <td class="align-middle position-relative" style="width:50vw">
                        <div
                            id="room"
                            class="position-absolute top-50 start-50 translate-middle"
                            style="height:50vh;width:50vh;border:solid 1rem white"
                        >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
